{% if site.authors[page.author] %}
	{% assign author = site.authors[page.author] %}
{% else %}
	{% assign author = site.authors["ozan"] %}
{% endif %}


<img src="{{ site.url }}/images/{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo" width="100" height="100"></a>
<h4>{{ author.name }}</h4>
<p>{{ author.bio }}</p>

{% if author.home %}<p style="text-indent:0;margin-top:1.5em;"><a href="{{ author.home }}" target="_blank"><i class="icon-home"></i> WWW</a></p>{% endif %}
{% if author.google_plus %}<p style="text-indent:0;"><a href="https://plus.google.com/u/0/{{ author.google_plus }}" target="_blank"><i class="icon-google-plus"></i> Google+</a></p>{% endif %}
{% if author.twitter %}<p style="text-indent:0;"><a href="http://twitter.com/{{ author.twitter }}" target="_blank"><i class="icon-twitter"></i> Twitter</a></p>{% endif %}
{% if author.facebook %}<p style="text-indent:0;"><a href="http://facebook.com/{{ author.facebook }}" target="_blank"><i class="icon-facebook"></i> Facebook</a></p>{% endif %}
{% if author.linkedin %}<p style="text-indent:0;"><a href="http://linkedin.com/in/{{ author.linkedin }}" target="_blank"><i class="icon-linkedin"></i> LinkedIn</a></p>{% endif %}
{% if author.github %}<p style="text-indent:0;"><a href="http://github.com/{{ author.github }}" target="_blank"><i class="icon-github"></i> Github</a></p>{% endif %}

